body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.card{
    background-color: rgb(252, 239, 239);
    width: 300px;
    margin-top: 100px;
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border: 3px solid rgb(85, 85, 85);
}

img{
    max-width: 100%;
    height: 150px;
    width: 140px;
    border: 2px solid rgb(209, 209, 209);

}

.full-name{
    font-size: 22px;  
    margin-top: 10px;
}

.designation{
    font-size: 18px;
    margin-top: -15px;
    color: rgb(91, 90, 90);
}

.company{
    font: 16px;
    margin-top: -10px;
    color: rgb(161, 159, 159);
}



.email{
    margin-top: 25px;
}

.phone{
    margin-top: -10px;
}

body a{
    text-decoration: none;
}

.profile {
    margin-top: -10px;
    
}
.profile a:visited{
    color: rgb(66, 66, 248);
}

.social-link{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: -10px;
    margin-top: -10px;
    
}

.connect{
    margin-top: 5px;
}
.connect a{
    color: brown;
}

.social-link a:visited{
    color: brown;
}